<!DOCTYPE html>
<html lang="zh-cn">
<?php
    session_start();         //启动session
?>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>homepage</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap-theme.min.css">

    <link rel="Stylesheet" type="text/css" href="__PUBLIC__/css/loginDialog.css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <!--<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>-->
    <!--<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>-->
    <!--<![endif]&ndash;&gt;-->


</head>

<body background="__PUBLIC__/img/background.jpg">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<js href="__PUBLIC__/js/jquery-2.0.2.js" />
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="__PUBLIC__/js/bootstrap.min.js"></script>

<include file="./Public/html/nav.html" />

<include file="./Public/html/signupBox.html" />

<include file="./Public/html/loginBox.html" />

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-8">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <!-- List group -->
                <ul class="list-group">
                    <div class="list-group-item">
                        <ul class="nav nav-tabs" role="tablist">
                            <if condition="$questionType eq 0">
                                <li role="presentation" class="active">
                                    <a class="tabNameList" href="__ROOT__/index.php/Home/Index/index/type/newest">最新</a>
                                </li>
                                <else />
                                <li role="presentation">
                                    <a class="tabNameList" href="__ROOT__/index.php/Home/Index/index/type/newest">最新</a>
                                </li>
                            </if>

                            <if condition="$questionType eq 1">
                                <li role="presentation" class="active">
                                    <a class="tabNameList" href="__ROOT__/index.php/Home/Index/index/type/hottest">热门</a>
                                </li>
                                <else />
                                <li role="presentation">
                                    <a class="tabNameList" href="__ROOT__/index.php/Home/Index/index/type/hottest">热门</a>
                                </li>
                            </if>
                            <if condition="$questionType eq 2">
                                <li role="presentation" class="active">
                                    <a class="tabNameList" href="__ROOT__/index.php/Home/Index/index/type/unsolved">待解决</a>
                                </li>
                                <else />
                                <li role="presentation">
                                    <a class="tabNameList" href="__ROOT__/index.php/Home/Index/index/type/unsolved">待解决</a>
                                </li>
                            </if>
                        </ul>
                    </div>
                    <foreach name="problemData" item="vo">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-1">
                                    <img class="media-object" src="__PUBLIC__/img/head.png"
                                         style="height: 50px;width: 50px">
                                </div>
                                <div class="col-sm-11">
                                    <p>
                                        <foreach name="vo['tagList']"  item="tag">
                                            <span class="label label-info" style="margin-right: 5px">{$tag}</span>
                                        </foreach>
                                    </p>
                                    <a href="__ROOT__/index.php/Home/Question/Detail/qid/{$vo.qid}">
                                        <h4 class="media-heading">{$vo.title}</h4>
                                    </a>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-sm-offset-1 col-md-offset-1">
                                        <br>

                                        <p>
                                            <span class="glyphicon glyphicon-calendar"></span>{$vo.time} |
                                            <span class="glyphicon glyphicon-comment"></span> <a href="__ROOT__/index.php/Home/Question/Detail/qid/{$vo.qid}#postComment">回答</a>
                                            |
                                            <if condition="$vo.supported gt 0">
                                                <span style="color: #ff0000" qid={$vo.qid} class="glyphicon glyphicon-thumbs-up questionPraise"></span>
                                                <else />
                                                <span qid={$vo.qid} class="glyphicon glyphicon-thumbs-up questionPraise"></span>
                                            </if>
                                            <span>赞({$vo.supported})</span>
                                            <!--|-->
                                            <!--<span id=dislike1 qid={$vo.qid}-->
                                                  <!--class="glyphicon glyphicon-thumbs-down"></span>-->
                                            <!--<span id="dislike1-count">{$vo.opposed}</span>-->
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <div class="row"></div>
                        </li>
                    </foreach>
                </ul>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">热门话题 <a href="" style="margin-left: 120px">更多></a>
                </div>
                <!-- List group -->
                <ul class="list-group">
                    <foreach name="hottestTopic" item="vo">
                        <li class="list-group-item">
                            <a href="#">{$vo.tagname} <span class="badge">{$vo['count(qid)']}</span></a>
                        </li>
                    </foreach>
                </ul>
            </div>

            <div class="panel panel-success">
                <!-- Default panel contents -->
                <div class="panel-heading">热门用户 <a href="" style="margin-left: 120px">更多></a>
                </div>

                <!-- List group -->
                <ul class="list-group">
                    <foreach name="hottestUser" item="vo">

                        <li class="list-group-item">
                            <p><img class="media-object" src="__PUBLIC__/img/head.png"
                                    style="height: 50px;width: 50px"><a href="__ROOT__/index.php/Home/User/info/uid/{$vo.uid}">{$vo.nickname}</a> 积分:{$vo.credit}</p>
                        </li>
                    </foreach>
                </ul>
            </div>
        </div>
    </div>
</div>

<include file="./Public/html/footer.html" />

<script type="text/javascript">
    var root="__ROOT__";
</script>



<script type="text/javascript" src="__PUBLIC__/js/default.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/questionPraise.js"></script>
</body>

</html>
