<!DOCTYPE html>
<html lang="zh-cn">
<?php
    session_start();         //启动session
?>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>homepage</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="Stylesheet" type="text/css" href="__PUBLIC__/css/loginDialog.css"/>

    <js href="__PUBLIC__/js/jquery-2.0.2.js" />
    <js href="__PUBLIC__/ueditor/ueditor.config.js" />
    <js href="__PUBLIC__/ueditor/ueditor.all.min.js" />
    <script>
        $(function(){
            var ue = UE.getEditor('container',{
                serverUrl :"__ROOT__/index.php/Home/Question/ueditor"
            });
        })
    </script>



</head>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>-->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="__PUBLIC__/js/default.js"></script>-->

<body background="__PUBLIC__/img/background.jpg">

<include file="./Public/html/nav.html" />

<include file="./Public/html/loginBox.html" />
<include file="./Public/html/signupBox.html" />
<include file="./Public/html/confirmBox.html" />

<div class="container">
    <div class="row">
        <div class="col-sm-7 col-md-7 col-sm-offset-1">
            <div class="panel panel-default">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-1">
                                <img class="media-object" src="__PUBLIC__/img/head.png" style="height: 50px;width: 50px">
                            </div>
                            <div class="col-sm-11">
                                <p>
                                    <foreach name="questionData['tagList']"  item="tag">
                                        <span class="label label-info" style="margin-right: 5px">{$tag}</span>
                                    </foreach>
                                </p>

                                <h4 class="media-heading" id="title">{$questionData.title}</h4>
                            </div>

                        </div>
                    </li>
                    <li class="list-group-item">{$questionData.content}
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <br>

                                <p>
                                    <span class="glyphicon glyphicon-user">
                                    </span>
                                    by
                                    <a href="__ROOT__/index.php/Home/User/info/uid/{$questionData.uid}">
                                        {$questionData.nickname}</a>
                                    <span class="glyphicon glyphicon-calendar"></span>{$questionData.time} |

                                    <if condition="$questionData.supported gt 0">
                                        <span style="color: #ff0000" hasBest={$questionData.hasBest} uid={$questionData.uid} qid={$questionData.qid} class="glyphicon glyphicon-thumbs-up questionPraise"></span>
                                        <else />
                                        <span hasBest={$questionData.hasBest} uid={$questionData.uid} qid={$questionData.qid} class="glyphicon glyphicon-thumbs-up questionPraise"></span>
                                    </if>
                                        <span >赞({$questionData.supported})</span>

                                </p>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">回复数量:{$commentSize}</div>
                <ul class="list-group">
                    <foreach name="commentList" item="vo">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-1">
                                    <img class="media-object" src="__PUBLIC__/img/head.png" style="height: 50px;width: 50px">
                                </div>
                                <div class="col-sm-11">
                                    {$vo.comment}
                                </div>
                            </div>
                            <br>
                            <hr>
                            <div class="row">
                                <div class="col-sm-9 col-md-9 col-sm-offset-1">
                                    <p>
                                        <span class="glyphicon glyphicon-user">
                                        </span>
                                        by
                                        <a href="__ROOT__/index.php/Home/User/info/uid/{$vo.uid}">
                                            {$vo.nickname}</a>

                                        <span class="glyphicon glyphicon-calendar"></span>{$vo.time} |
                                        <!--<span class="glyphicon glyphicon-comment"></span> <a href="#">3 Comments</a> |-->
                                        <if condition="$vo.supported gt 0">
                                            <span style="color: #ff0000" cid={$vo.cid} class="glyphicon glyphicon-thumbs-up commentPraise"></span>
                                            <else />
                                            <span  cid={$vo.cid} style="" class="glyphicon glyphicon-thumbs-up commentPraise"></span>
                                        </if>

                                        <span  cid={$vo.cid}>赞({$vo.supported})</span>|
                                        <a style="display: none" class="bestCommentOption" cid={$vo.cid}>采纳</a>
                                    </p>
                                </div>
                                <if condition="($vo.isBest eq '1')">
                                    <div class="col-sm-2 col-md-2" class="bestAsw" isBest="">
                                        <p>被采纳<span style="color: green;font-size: 25px" class="glyphicon glyphicon-ok"><br></span></p>
                                    </div>
                                </if>
                            </div>
                        </li>
                    </foreach>
                </ul>
            </div>

            <div class="well">
                <h4><i class="fa fa-paper-plane-o"></i>回复：</h4>
                <form role="form" id="postComment" action="__ROOT__/index.php/Home/Question/postComment" method="post" onsubmit="return mySubmit(true)">
                    <div class="form-group">
                        <script id="container" name="content" type="text/plain">
                        </script>
                    </div>
                    <input type="hidden" id="comment" name="comment" value="">
                    <input type="hidden" id="commentQid" name="commentQid" value="">
                    <input type="hidden" id="commentUid" name="commentUid" value="">
                    <input type="hidden" id="commentTitle" name="commentTitle" value="">
                    <button  type="submit" class="btn btn-primary"><i class="fa fa-reply"></i>提交</button>
                </form>
                <h4 id="commentError" style="color: #ff0000"></h4>

            </div>

        </div>
        <div class="col-sm-3 col-md-3">

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">热门话题 <a href="" style="margin-left: 120px">更多></a>
                </div>
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">java</li>
                    <li class="list-group-item">C++</li>
                    <li class="list-group-item">Python</li>
                    <li class="list-group-item">PHP</li>
                    <li class="list-group-item">HTML5</li>
                </ul>
            </div>

            <div class="panel panel-success">
                <!-- Default panel contents -->
                <div class="panel-heading">热门用户 <a href="" style="margin-left: 120px">更多></a>
                </div>

                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<include file="./Public/html/footer.html" />



<script type="text/javascript" src="__PUBLIC__/js/default.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/detail.js"></script>

<script type="text/javascript" src="__PUBLIC__/js/questionPraise.js"></script>


<script type="text/javascript">
    var root="__ROOT__";

    $(document).ready(function () {

        $(".commentPraise").bind("click", function () {
            var mythis = $(this);
            var uid=$("#navUserInfo").attr("uid");
            if(uid==""){
                $("#LoginBox").fadeIn("slow");
            }else{
                $.ajax({
                    type: 'POST',
                    url: root+"/index.php/Home/Question/commentPraise",
                    data: {cid: $(this).attr('cid'),uid:uid},
                    dataType: 'json',
                    success: function (data) {
                        if(data['supported']==0){
                            mythis.css("color","");
                            mythis.next().html("赞("+data['supported']+")");
                        }else{
                            mythis.css("color","red");
                            mythis.next().html("赞("+data['supported']+")");
                        }
                    },
                    error: function () {
                        alert("出现错误了");
                    }
                });
            }

        });


        function mySubmit(flag){
            return flag;
        }
        $("#postComment").submit(function(){
            var comment=UE.getEditor('container').getContent();
            if(comment!=""){
                var title=$("#title").html();
                var uid=$("#navUserInfo").attr("uid");
                var qid=$(".questionPraise").attr("qid");
                $("#commentUid").val(uid);
                $("#commentTitle").val(title);
                $("#commentQid").val(qid);
                $("#comment").val(comment);
                return mySubmit(true);
            }else{
                $("#commentError").html("回复内容不能为空");
                return mySubmit(false);
            }
        });



    });
</script>



</body>




</html>
